

// Utitlities

@import "../../../Scss-Utilities/Utilities.scss";

// -------------------- Page - Home - Button -------------------- //

.home {

    // Hero

    .hero {

        // Primary

        &.primary {
            .hero-button {
                .btn-hero {
                    @include display-inline-block;

                    @include width-auto;

                    @include font-primary-semi-bold;
                    @include h6;

                    padding                 : 1rem 4.75rem;

                    color                   : $c-white;

                    // Primary

                    &.primary {
                        background-color        : #0e6fbe;

                        &:hover {
                            background-color    : #0c5ea2;
                        }
                    }

                    // Secondary

                    &.secondary {
                        background-color        : #627f15;

                        &:hover {
                            background-color    : #536c12;
                        }
                    }
                }
            }

            @include media-breakpoint-down(sm) {

                .hero-button {
                    .btn-hero {
                        @include width-100;
                    }
                }
            }
        }
    }

    // Product Tour

    .product-tour {

        // Primary

        &.primary {

            // Content
            
            .product-tour-content {
                .content-tab {
                    .content-button {
                        .btn-content {
                            @include display-inline-block;

                            @include width-auto;

                            @include font-primary-bold;
                            @include h6;

                            padding                 : 1rem 3rem;

                            color                   : #2c343c;

                            background-color        : $c-white;

                            &:hover {
                                background-color    : $c-grey-super-light;
                            }
                        }
                    }
                }
            }
        }
    }

    // Value

    .value {

        // Primary

        &.primary {
            .value-tab {
                .tab-content {
                    .content-button {
                        .btn-content {
                            @include display-inline-block;

                            @include width-auto;

                            @include font-primary-semi-bold;
                            @include h6;

                            padding                 : 1rem 4rem;

                            color                   : $c-white;

                            background-color        : #627f15;

                            &:hover {
                                background-color    : #536c12;
                            }
                        }
                    }
                }
            }
        }
    }

    // Hero

    .conversion {

        // Primary

        &.primary {
            .conversion-button {
                .btn-conversion {
                    @include display-inline-block;

                    @include width-auto;

                    @include font-primary-semi-bold;
                    @include h6;

                    padding                 : 1rem 4rem;

                    color                   : $c-white;

                    background-color        : #627f15;

                    &:hover {
                        background-color    : #536c12;
                    }
                }
            }
        }

        // Secondary

        &.secondary {
            .conversion-button {
                .btn-conversion {
                    @include display-inline-block;

                    @include width-auto;

                    @include font-primary-semi-bold;
                    @include p;

                    padding                 : 0.35rem 3rem;

                    color                   : $c-white;

                    background-color        : #627f15;

                    &:hover {
                        background-color    : #536c12;
                    }
                }
            }

            @include media-breakpoint-down(sm) {

                .conversion-button {
                    .btn-conversion {
                        @include small;

                        padding                 : 0.35rem 1rem;
                    }
                }
            }
        }
    }
}